* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    overflow: hidden;
}
:root{
    --first-color:#CC57C7;
    --second-color:#EFCB58;
    --letter1-color:#CC57C7;
    --letter2-color:#fff;
    --color:#000;
}
body {
    background-color: var(--color);
}

.container, .saber-mais, .container-pontuacao{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 70%;
    margin: 0 auto;
}

img {
    display: flex;
    align-items: center;
    justify-self: center;
    margin: auto;
    /* width: 80%; */
    max-width: 60%;
}

#inicio, .menu-autores, .caixa-pontuacao {
    border: 2px solid var(--second-color);
    padding: 8px;
}
#inicio p{
    color: var(--letter2-color);
    text-align: center;
    font-size: 1.3rem;
}
.caixa-pontuacao h1{
    text-align: center;
}
h1 {
    text-align: center;
    font-size: 2.5rem;
    color: white;
    margin: 10px;
    max-width: 80%;
}
p#pontuacaof{
    text-align: center;
   font-size: 4rem;
   color: var(--letter1-color);
   font-weight: bold;
}
h3 {
    color: white;
    padding: 8px;
}

/***************** LOCAL(div) COM PERGUNTAS E RESPOSTAS **********/

.container-quiz {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn-resposta {
    margin: 10px;
    padding: 20px;
    background-color: var(--second-color);
    color: var(--color);
    font-weight: bold;
    font-size: 1.7rem;
    border-radius: 8px;
    transition: 0.5s;
    min-width: 50%;
    max-width: 50%;
}

.btn-resposta:hover {
    cursor: pointer;
    box-shadow: 0 5px 4px rgba(255, 255, 255, 0.462);
    transform: scale(1.04);
}

/*-------Pontuação--------*/
/* AÇAO JS - QDO CLICAR NA ALTERNATIVA CERTA OU ERRADA */
/*Default para voltar a cor padrao das alternativas ao passar a questao*/
.btn-resposta.default {
    background-color: var(--second-color);
    color: var(--color);
}

.btn-resposta.correto {
    background-color: var(--letter1-color);
    color: white;
}

.btn-resposta.errado {
    background-color: red;
    color: white;
}

/******************** FIM DO LOCAL *****************************/

.btn {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.btn-jogar, .btn-reiniciar, .btn-saibamais, .btn-voltar {
    background-color: transparent;
    border: 2px solid var(--first-color);
    font-size: 1.8rem;
    color: var(--letter2-color);
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    border-radius: 5px;
    padding: 10px;
    width: 33vh;
    margin: 8px;
}

.btn-jogar:hover, .btn-reiniciar:hover, .btn-saibamais:hover, .btn-voltar:hover {
    cursor: pointer;
    transition: transform 0.5s;
    transform: scale(1.02);
    background-color: var(--first-color);
}

/*********** PARTE DO BOTAO SABER MAIS *************/

h1#bem-vindo {
    color: var(--second-color);
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
    margin: 10px;
    color: var(--letter1-color);
}

p {
    margin: 10px 20px;
    font-size: 25px;
    font-weight: lighter;
}

.menu-autores ul {
    list-style: none;
}

.menu-autores ul li {
    text-decoration: none;
    font-size: 20px;
    font-weight: bolder;
    color: var(--letter2-color);
}

.btn-voltar a, .btn-saibamais a {
    text-decoration: none;
    color: var(--letter2-color);
}
@media (max-width: 800px){
    
    .btn-resposta{
    margin: 5px;
    padding: 10px;
    font-size: 1.1rem;
  
    }
    h1 {
        font-size: 1.8rem;
    }
    .btn-jogar, .btn-reiniciar, .btn-saibamais, .btn-voltar{
        font-size: 1.2rem;
    }
    .btn-voltar{
        width: 90%;
    }
    h1#bem-vindo {
        font-size: 1.8rem;
    }
    
    h2 {
        font-size: 1.5rem;
    }
    
    p {
        font-size: 18px;
    }
    
}